Создай краткий заголовок для Markdown файла, находящегося по пути '{{ file_path }}'.
Заголовок должен быть на русском языке, содержательным и точным, 4-6 слов должно быть достаточно.

Это будет заголовок статьи в блоге, будет использоваться в качестве якоря для ссылки на статью.
Например: "[Очистка и предобработка текста](../auto_generated/notebooks/00_clean_scraped_text.md)"

{% if keywords %}
Предлагаемые ключевые слова или фразы из содержимого:
{% for keyword in keywords | sort -%}
- {{ keyword }}
{% endfor -%}
{% endif %}

Ниже приведен автоматически разобранное AST дерево файла.
Используйте его, чтобы понять, что в файле, и придумать максимально точный заголовок, который будет отражать содержимое файла.
```json
{{ content_ast | default("{}") }}
```
